<div class="container">
    <div>
        <h1>Hero Form</h1>
        <form>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="estudiante.nombre">
            </div>

            <div class="form-group">
                <label for="alterEgo">Sexo</label>
                <input type="text" class="form-control" id="sexo" name="sexo" [(ngModel)]="estudiante.sexo">
            </div>
            <div class="form-group">
                <label for="alterEgo">Edad</label>
                <input type="text" class="form-control" id="edad" name="edad" [(ngModel)]="estudiante.edad">
            </div>
            <div class="form-group">
                <label for="alterEgo">Nota</label>
                <input type="text" class="form-control" id="nota" name="nota" [(ngModel)]="estudiante.nota">
            </div>
            <div class="form-group">
                <label for="alterEgo">Cantidad Asignaturas</label>
                <input type="text" class="form-control" id="cantidadAsignatura" name="cantidadAsignatura" [(ngModel)]="estudiante.cantidadAsignatura">
            </div>
            <button type="submit" class="btn btn-primary" (click)="create()">CreateSubmit</button>

        </form>
    </div>


</div>